.productCard {
  border: 1px solid white;
  padding: 16px;
  border-radius: 8px;
  //left:100%;
  background-color: white;
  font-family: Inter, sans-serif;
  justify-content: flex-start;
  height: 100%; // Делает карточку полной высоты контейнера
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (max-width: 480px){
    padding: 6px;
  }

  .productDetails{
    .productName{
      min-height: 50px;
      max-height: 50px;
      font-size: 16px;
      line-height: 130%;
      /* height: 15%; */
      margin: 0;
    }
  }


}
p{
  margin:8px 0;
}
.productImage {
  max-width: 90%;
  max-height: 90%;

  //height: 150px;
  object-fit: cover; // для обрезки если изображение большое

}

.productDetails {
  //display:flex;
  //flex-direction: column;
  //margin-top: 16px;
  //justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  justify-content: space-between;
  height: 266px;

}

.price {
  font-size: 22px;
  font-weight: normal;
  font-family: Inter, sans-serif;
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;

}

.ratingPlace{
  display:flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.ratingBlock {
  position: relative;
  display: inline-block;
  border: 1px solid white;
  margin: 2px;
  color: gray;
  right : 5px;
}

.descriptionBlock{
  color: lightgray;
  margin-top: 53px;
  height: 45%;
}


.rassrochkaContainer{
  display:flex;
  align-items: center;
}


.rassrochkaPrice{
  display: inline-block;
  padding: 5px 5px;
  background-color: #FFD700; /* Желтый цвет фона */
  border-radius: 8px; /* Закругленные углы */
  color: black; /* Черный цвет текста */
  font-size: 18px; /* Размер шрифта */
  font-weight: normal; /* Жирный шрифт */
  font-family: Inter, sans-serif; /* Шрифт */
  margin-right : 5px;

}

.rassrochkaMonth{
  color:gray;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 0;

}
.imageFormat{
  height: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
  border-radius: 8px;
}


/*@media (max-width: 480px){
  .productCard{
    width: 45%;
  }
}*/
