.searchBar {
  margin: 16px 0;
  flex: 1 1 100%;


}

.searchWithFilter{
  display: flex;

}


.filterButton{
  margin: 16px;
  padding: 8px 16px;
  background: #fff;
  border-radius:2px;
  border: 1px solid lightgray;

}