.header {
  //padding: 16px;
  background-color: white;
  //text-align: center;
  //font-family: Monaco, fangsong;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color:black;
}


.aboutShopH{
  background-color: white;
  display: flex;
  .headerImage{
    max-width: 100px;
    //height: 150px;
    object-fit: cover; // для обрезки если изображение большое


  }


  .shopNumber{
    font-weight: normal;
    font-size: 16px;
    color: #0089d0;
    margin-bottom: -5px;
  }
  .shopLogo{
    max-width: 90%;
    max-height: 100%;
    padding:5px;

    //height: 150px;
    object-fit: cover; // для обрезки если изображение большое
  }
  .kaspiLogo{
    width:100px;
    padding: 7px;
  }


  .shopName{
    font-size: 16px;
    margin-bottom: -10px;
  }

  .shopInfo{
    margin-top: -7px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: normal;
  }

}


.ratingNumber{
  font-size:14px;
  margin-left: 5px;
  font-weight: normal;
}
.ratingCnt{
  margin: 0 0;
}

.onlyStarRating{
  margin-top: 10px;
}

.shopRating{
 font-size:14px;
  color: grey;

}

.starAndRating{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -6px;

}

.ratingContainer{

}

.phoneLink{
  font-weight: normal;
  font-size: 16px;
  color: #0089d0;
  margin-bottom: -5px;
}




